

.form-container {

    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
    flex-direction: column;
  
    width: 100%;
  
  }
  
  
  
  .myborder {
  
    padding: 10px;
  
    border-width: 1px;
  
    border-color: #ccc;
  
    border-radius: 6px;
  
    width: 400px;
  
    padding: 5px;
  
    box-shadow: #222;
  
  }
  
  
  
  .form-container input {
  
    border-width: 1px;
  
    border-color: #ccc;
  
    border-radius: 6px;
  
    width: 400px;
  
    padding: 5px;
  
  }
  
  
  .centered {
  
    width: 100%;
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
  }
  
  
  
  .form-container textarea {
  
    border-width: 1px;
  
    border-color: #ccc;
  
    border-radius: 6px;
  
    width: 400px;
  
    padding: 5px;
  
  }
  
  
  
  .offre span {
  
    color: #222;
  
    font-size: larger;
  
    margin-right: 14px;
  
    font-weight: 700;
  
   
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
  }
  
  .offre p {
  
    color: #666;
  
    font-size: medium;
  
    display: flex;
  
    padding-top: 10px;
  
    padding-bottom: 10px;
  
    max-width: 500px;
  
    font-weight: 300;
  
  }
  
  