{% extends 'website/base.html'%}
{% load static%}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        .image-thumbail {
            height: 200px;
            object-fit: cover;
        }

        .list-group-item a {
            text-decoration: none;
            color: black;
        }
      </style>
    </head>
      <body  style=" width: 100%;">
        
        <br/>
        <br/>
        <br/>

      <div class=" ">
      
      <div class="media " style=" width: 100%; display: flex;flex-direction: column;justify-content: center;align-items: center;">
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" style="width: 200px;background-color:#eee;border-radius: 100px;padding:10px">
            <div class="media-body" style="padding-right: 25px; padding-left: 25px;">
              {% if user_group %} : <b style="color: #00b2df;"> {{user_group}}</b> {% endif%}
      </div>

      
      
          <br><br><br><br><br>
          <h3>@{{user.username}}</h3>
        
          <h5>About</h5>
          <p> Hello I'm {{user.username}} </p>
          
        <!--  <p class="text-secondary">{{user.email}}</p> -->

        <div class="profile__info">
          <p>{{user.email}}</p>
      

          {% if user_group == 'employee'%}
          <div>
            <label for="main_job">My Job :  {{per.main_job}}</label>
              <br>
              <label for="Competence">Competence : 
                  
                {% for competence in per.competence.all%} 
                <br>
                - {{competence.name}}
                {%endfor%}
      
              </label>
                
                    <br>
              <label for="description">Description : 
                <br/>
                - {{per.description}}</label>
              <br> 
              <label for="experience">Experience :
                <br> 

                - {{per.experience}}</label> 
              <br>
              <br> 
          </div>
          
          <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>           
          {% endif%}

          {% if user_group == 'employer'%}
            <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
            <a href="{% url 'post' %}" class="btn btn--main btn--pill">Post a job </a>
          {% endif %}   
        </div>
      </body>
      
      </div>
      
      </div>

      {% include 'website/footer.html'%} 
      {% endblock content %}
